<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <p *ngIf = "!userVerify">login failed</p>
        <form [formGroup]="user">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName = "username">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName ="password">
          </div>
          <button type="submit" id="loginButton" class="btn btn-primary" (click) = "login(user)">Submit</button>
        </form>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
