<div class="container">
    <div class="row">
      <div class="col"><button class="btn btn-secondary" id="more-items" (click)="getMore()">Get More Orders</button></div>
      <div class="col"></div>
      <div class="col"><p id="viewPara" *ngIf = "viewItem">The Item code you are viewing is {{itemCode}}</p></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-10">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Order Item</th>
                    <th>View Item</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let order of orderList">
                    <td>{{order.orderItem}}</td>
                    <td><button class="btn btn-secondary" [id] = "order.orderCode" (click)="viewOrder(order.orderCode)">View Item Code</button></td>
                </tr>
            </tbody>
      </table>
    </div>
      <div class="col-2"></div>
    </div>
  </div>

